* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-conteiner {
    width: 80%;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
}

.swiper-wrapper {
    display: flex;
    transition: .5s all;
}

.swiper-slide {
    min-width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.prev-btn,
.next-btn {
    height: 100%;
    position: absolute;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.29);
    color: white;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}